body {
  letter-spacing: -0.1px;
}

.hero-slider .slick-list {
  margin: 0; /* no extra negative margin */
}

/* arrows ko image ke upar lao */

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: red !important;
}

.slick-prev {
  z-index: 10;
  color: red !important;
}

/* vertically center */
.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

/* arrow circle style */
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: white;
}
